name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      with:
        # 根据构建指南要求
        packages: |
          build-tools;28.0.3
          platform-tools
          platforms;android-28
        cache: true

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew assembleRelease --no-daemon
      env:
        # 降低内存使用以适应GitHub Actions环境
        ORG_GRADLE_PROJECT_org.gradle.jvmargs: -Xmx2g -Dfile.encoding=UTF-8
        # 设置AndroidX
        ORG_GRADLE_PROJECT_android.useAndroidX: true
        ORG_GRADLE_PROJECT_android.enableJetifier: true
